extend layout.pug 
block stylesheet 
    <link rel="stylesheet" href="../static/styles/about.css">
block calltoaction
    <a class="buy-btn cta" href="/order">
        <button>Order Now</button>
    </a>
block section
    p Welcome to Scoopful Delights, where we bring you the most delightful ice cream creations in Mumbai. Founded by Amankumar Verma, our passion for crafting exceptional frozen treats is what sets us apart. With a wide range of flavors and innovative combinations, we aim to create a memorable ice cream experience for all our customers.

    p At Scoopful Delights, we believe that every scoop tells a story. Our ice cream is made with the finest ingredients sourced locally and from around the world, ensuring the highest quality and flavors that will tantalize your taste buds. From classic favorites like creamy vanilla and rich chocolate to unique creations like tangy mango sorbet and indulgent cookie dough, we have something to satisfy every craving.

    <img src="../static/images/Ice-cream Image.jpg" alt="A colorful image showcasing a variety of our mouthwatering ice cream flavors">

    p But we don't just stop at flavors. We also take pride in our commitment to creativity and presentation. Each scoop is carefully crafted and beautifully garnished to create an enticing visual appeal. Whether you prefer a traditional cone, a decadent sundae, or a refreshing milkshake, our skilled artisans will prepare your treat with love and attention to detail.

    <img src="../static/images/Beautifully crafted milkshake.jpeg" alt="Beautifully crafted milkshake">

    p So come and indulge in the delightful world of Scoopful Delights. Whether you're celebrating a special occasion, enjoying a treat with loved ones, or simply treating yourself to a moment of pure bliss, we promise to deliver an unforgettable ice cream experience that will leave you craving for more.

    <img src="../static/images/People eating ice-cream.jpg" alt="People eating ice-cream">

    <a class="buy-btn" href="/menu">
        <button>See Menu</button>
    </a>