extend layout.pug 
block stylesheet 
    <link rel="stylesheet" href="../static/styles/index.css">
block calltoaction
    <a class="buy-btn cta" href="/order">
        <button>Order Now</button>
    </a>

block section

    <div class="bg-img">
        <img src="../static/images/Background.jpg" alt="Background Image">
    </div>
    <div class="spacer"></div>

    <div class="landscape">
    <p id="intro">Welcome to Scoopful Delights, Mumbai's premier ice cream parlour founded by <span class="bold">Amankumar Verma</span>. We pride ourselves on offering a wide array of delicious frozen treats that will satisfy your sweet cravings. With a passion for quality and a commitment to exceptional flavors, Scoopful Delights has become a beloved establishment in the city.</p>
    <img src="../static/images/Ice-cream store image Landscape.jpeg" alt="Landscape image">
    </div>

    <div class="spacer"></div>
    <div class="portrait">
    <p id="outro">At Scoopful Delights, we handcraft each ice cream creation with love and care. Using only the <span class="underline italic bold">finest ingredients sourced from local suppliers</span>, we create unique and innovative flavors that will tantalize your taste buds. Whether you're a fan of classic favorites or adventurous combinations, our menu has something for everyone. Step into our welcoming parlour, indulge in a scoop of pure bliss, and create lasting memories at Scoopful Delights.</p>

    <img src="../static/images/Ice-cream store image Portrait.jpeg" alt="Portrait image">
    </div>

    <div class="spacer"></div>

    <a class="buy-btn" href="#">
        <button>Visit Now</button>
    </a>

    