<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>#{title}</title>
  <link rel="icon" href="../static/images/logo.ico">
  <link rel="stylesheet" href="../static/styles/layout.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <script src="https://kit.fontawesome.com/f79e5f2420.js" crossorigin="anonymous"></script>
  <script src="../static/scripts/layout.js"></script>

  block js
  block stylesheet
</head>

<body>
  <header>
    <div class="top">
      <nav class="navbar">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="/order">Order</a></li>
        </ul>
      </nav>
      //- <nav class="account">
      //-   <ul>
      //-     <li><a href="#">Log In</a></li>
      //-     <li><a href="#">Sign Up</a></li>
      //-   </ul>
      //- </nav>
    </div>

    <div class="logo">
      <a href="/"><img src="../static/images/logo.png" alt="Website-Logo"></a>
      <a href="/"><h1 class="title">Scoopful Delights</h1></a>
    </div>
    block calltoaction
  </header>


  <section>
    block section
  </section>
    <footer>
      <div class="branding">
        <img src="../static/images/logo.png" alt="Footer logo">
        <div id="copy-right-text" style="text-align: center;">
          | &copy; Scoopful Delights 2023 | All Rights Reserved
        </div>
        <div class="footer-about">
          <p>
             | 🍦 Scoop up pure happiness and let your taste buds melt with delight! Indulge in a blissful ice cream experience, where every scoop brings joy and every flavor takes you on a delightful journey. Join us in celebrating the magic of sweet indulgence and create unforgettable memories with each mouthwatering bite! 🌈✨
          </p>
        </div>
      </div>
      <div>
        <div class="social">        
            <div class="card">
                <span>Social</span>
                <a class="social-link" href="https://www.youtube.com/channel/UCUkYFkfK42LrYIXaSnZzqlA" target="blank">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 461.001 461.001" xml:space="preserve" fill="#000000">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                    <g>
                        <path style="fill:#F61C0D;" d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728 c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137 C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607 c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"></path>
                    </g>
                    </g>
                </svg>
                </a>
                <a class="social-link" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2499" height="2500" viewBox="0 0 500 500.2" id="pinterest"><ellipse cx="250" cy="250.1" fill="#e13138" rx="250" ry="250.1"></ellipse><path fill="#fff" d="M259.8 133.9c-69.9 0-105.2 49.4-105.2 90.6 0 25 9.6 47.1 30.1 55.4 3.4 1.4 6.4.1 7.4-3.6.7-2.5 3.8-9 4.5-11.6 1-3.6.6-4.9-2.1-8.1-5.9-6.9-9.6-14.1-9.6-26.7 0-42 26.2-71.9 70.8-71.9 39.5 0 61.2 24.5 61.2 56.3 0 41.8-18.8 75.8-46.7 75.8-15.4 0-26.9-11.2-23.2-26.6 4.4-18.4 13-38.2 13-51.5 0-11.9-6.4-20.4-19.8-20.4-15.7 0-28.4 14.7-28.4 36.2 0 13.7 4.5 20.5 4.5 20.5s-15.9 69.7-18.8 81.5c-5.6 23.5-.8 52.2-.4 55.1.2 1.7 2.5 2.1 3.5.8 1.4-1.8 20.2-24.7 26.6-47.5 1.8-6.4 10.4-39.8 10.4-39.8 5.1 9.6 20.1 15.8 35.9 15.8 47.3 0 79.4-40.3 79.4-97.1.1-43.1-36.9-83.2-93.1-83.2z"></path></svg>
                </a>
                <a class="social-link" href="https://instagram.com/theamankumarverma" target="blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="102" height="102" viewBox="0 0 102 102" id="instagram"><defs><radialGradient id="a" cx="6.601" cy="99.766" r="129.502" gradientUnits="userSpaceOnUse"><stop offset=".09" stop-color="#fa8f21"></stop><stop offset=".78" stop-color="#d82d7e"></stop></radialGradient><radialGradient id="b" cx="70.652" cy="96.49" r="113.963" gradientUnits="userSpaceOnUse"><stop offset=".64" stop-color="#8c3aaa" stop-opacity="0"></stop><stop offset="1" stop-color="#8c3aaa"></stop></radialGradient></defs><path fill="url(#a)" d="M25.865,101.639A34.341,34.341,0,0,1,14.312,99.5a19.329,19.329,0,0,1-7.154-4.653A19.181,19.181,0,0,1,2.5,87.694,34.341,34.341,0,0,1,.364,76.142C.061,69.584,0,67.617,0,51s.067-18.577.361-25.14A34.534,34.534,0,0,1,2.5,14.312,19.4,19.4,0,0,1,7.154,7.154,19.206,19.206,0,0,1,14.309,2.5,34.341,34.341,0,0,1,25.862.361C32.422.061,34.392,0,51,0s18.577.067,25.14.361A34.534,34.534,0,0,1,87.691,2.5a19.254,19.254,0,0,1,7.154,4.653A19.267,19.267,0,0,1,99.5,14.309a34.341,34.341,0,0,1,2.14,11.553c.3,6.563.361,8.528.361,25.14s-.061,18.577-.361,25.14A34.5,34.5,0,0,1,99.5,87.694,20.6,20.6,0,0,1,87.691,99.5a34.342,34.342,0,0,1-11.553,2.14c-6.557.3-8.528.361-25.14.361s-18.577-.058-25.134-.361" data-name="Path 16"></path><path fill="url(#b)" d="M25.865,101.639A34.341,34.341,0,0,1,14.312,99.5a19.329,19.329,0,0,1-7.154-4.653A19.181,19.181,0,0,1,2.5,87.694,34.341,34.341,0,0,1,.364,76.142C.061,69.584,0,67.617,0,51s.067-18.577.361-25.14A34.534,34.534,0,0,1,2.5,14.312,19.4,19.4,0,0,1,7.154,7.154,19.206,19.206,0,0,1,14.309,2.5,34.341,34.341,0,0,1,25.862.361C32.422.061,34.392,0,51,0s18.577.067,25.14.361A34.534,34.534,0,0,1,87.691,2.5a19.254,19.254,0,0,1,7.154,4.653A19.267,19.267,0,0,1,99.5,14.309a34.341,34.341,0,0,1,2.14,11.553c.3,6.563.361,8.528.361,25.14s-.061,18.577-.361,25.14A34.5,34.5,0,0,1,99.5,87.694,20.6,20.6,0,0,1,87.691,99.5a34.342,34.342,0,0,1-11.553,2.14c-6.557.3-8.528.361-25.14.361s-18.577-.058-25.134-.361" data-name="Path 17"></path><path fill="#fff" d="M461.114,477.413a12.631,12.631,0,1,1,12.629,12.632,12.631,12.631,0,0,1-12.629-12.632m-6.829,0a19.458,19.458,0,1,0,19.458-19.458,19.457,19.457,0,0,0-19.458,19.458m35.139-20.229a4.547,4.547,0,1,0,4.549-4.545h0a4.549,4.549,0,0,0-4.547,4.545m-30.99,51.074a20.943,20.943,0,0,1-7.037-1.3,12.547,12.547,0,0,1-7.193-7.19,20.923,20.923,0,0,1-1.3-7.037c-.184-3.994-.22-5.194-.22-15.313s.04-11.316.22-15.314a21.082,21.082,0,0,1,1.3-7.037,12.54,12.54,0,0,1,7.193-7.193,20.924,20.924,0,0,1,7.037-1.3c3.994-.184,5.194-.22,15.309-.22s11.316.039,15.314.221a21.082,21.082,0,0,1,7.037,1.3,12.541,12.541,0,0,1,7.193,7.193,20.926,20.926,0,0,1,1.3,7.037c.184,4,.22,5.194.22,15.314s-.037,11.316-.22,15.314a21.023,21.023,0,0,1-1.3,7.037,12.547,12.547,0,0,1-7.193,7.19,20.925,20.925,0,0,1-7.037,1.3c-3.994.184-5.194.22-15.314.22s-11.316-.037-15.309-.22m-.314-68.509a27.786,27.786,0,0,0-9.2,1.76,19.373,19.373,0,0,0-11.083,11.083,27.794,27.794,0,0,0-1.76,9.2c-.187,4.04-.229,5.332-.229,15.623s.043,11.582.229,15.623a27.793,27.793,0,0,0,1.76,9.2,19.374,19.374,0,0,0,11.083,11.083,27.813,27.813,0,0,0,9.2,1.76c4.042.184,5.332.229,15.623.229s11.582-.043,15.623-.229a27.8,27.8,0,0,0,9.2-1.76,19.374,19.374,0,0,0,11.083-11.083,27.716,27.716,0,0,0,1.76-9.2c.184-4.043.226-5.332.226-15.623s-.043-11.582-.226-15.623a27.786,27.786,0,0,0-1.76-9.2,19.379,19.379,0,0,0-11.08-11.083,27.748,27.748,0,0,0-9.2-1.76c-4.041-.185-5.332-.229-15.621-.229s-11.583.043-15.626.229" data-name="Path 18" transform="translate(-422.637 -426.196)"></path></svg>
                </a>
            </div>
        </div>
        <div class="site-links">
            <h2>Legal</h2>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms and Conditions</a>
        </div>
      </div>
      <map name="Scoopful Delights">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d857.7171380007655!2d72.8230582318474!3d18.933777194632164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1e6e8a71339%3A0x5de89f4adf99ffe2!2sNatural%20Ice%20Cream!5e0!3m2!1sen!2sin!4v1685100043697!5m2!1sen!2sin" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </map>

        
    </footer>


</body>

</html>