extends layout.pug
block stylesheet
    <link rel="stylesheet" href="../static/styles/menu.css">

block calltoaction
    <a class="buy-btn cta" href="/order">
        <button>Order Now</button>
    </a>
    
block section
    
    <h1 id="title-menu"><i class="fa-solid fa-ice-cream ice-cream-icon"></i> Menu</h1>

    <div class="menu">


        <div class="menu-tile">
            <img src="../static/images/accent image 1.2.jpeg" alt="accent image" class="accent-img">
            <div class="menu-items">
                <h2>Classic Flavours</h2>
                <li>
                    <div>
                        <dt>Vanilla Dream</dt>
                        <dd> Creamy and timeless vanilla indulgence</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Chocolate Delight</dt>
                        <dd>Rich and decadent chocolate pleasure</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Strawberry Swirl</dt>
                        <dd>Sweet and refreshing strawberry delight</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Mint Chip Madness</dt>
                        <dd>Cool mint with delightful chocolate chips</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Cookies and Cream</dt>
                        <dd>A classic blend of cookies and creamy goodness</dd>
                    </div>
                    <span>$100.00</span>
                </li>
            </div>
        </div>

        <div class="menu-tile">
            <img src="../static/images/Accent image 2.2.jpeg" alt="accent image" class="accent-img">
            <div class="menu-items">
                <h2>Speciality Flavours</h2>
                <li>
                    <div>
                        <dt>Caramel Crunch Supreme</dt>
                        <dd>Irresistible caramel with a delightful crunch</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Raspberry Ripple Explosion</dt>
                        <dd>Bursting with tangy raspberry flavor.</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Hazelnut Heaven</dt>
                        <dd>Nutty and heavenly hazelnut delight</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Matcha Green Tea Bliss</dt>
                        <dd>A soothing and flavorful green tea treat</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Salted Caramel Pretzel</dt>
                        <dd>Sweet caramel meets salty pretzel crunch</dd>
                    </div>
                    <span>$100.00</span>
                </li>
            </div>
        </div>

        <div class="menu-tile">
            <img src="../static/images/accent image 3.2.jpeg" alt="accent image" class="accent-img">
            <div class="menu-items">
                <h2>Sundaes</h2>
                <li>
                    <div>
                        <dt>Brownie Sundae Delight</dt>
                        <dd>A heavenly combination of fudgy brownie and ice cream</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Banana Split Bonanza</dt>
                        <dd>A classic banana split extravaganza</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Hot Fudge Caramel Sundae</dt>
                        <dd>Warm fudge, caramel, and ice cream delight</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Berry Blast Sundae</dt>
                        <dd>Bursting with mixed berries and toppings</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Nutty Crunch Sundae</dt>
                        <dd>A delightful blend of nuts and ice cream</dd>
                    </div>
                    <span>$100.00</span>
                </li>
            </div>
        </div>

        <div class="menu-tile">
            <img src="../static/images/Accent image 4.4.jpeg" alt="accent image" class="accent-img">
            <div class="menu-items">
                <h2>Milkshakes</h2>
                <li>
                    <div>
                        <dt>Oreo Cookie Milkshake</dt>
                        <dd>Creamy milkshake with crushed Oreo cookies</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Chocolate Peanut Butter Blast</dt>
                        <dd>Rich chocolate and smooth peanut butter fusion</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Strawberry Banana Smoothie Shake</dt>
                        <dd>A refreshing blend of strawberries and bananas</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Cookies 'n Cream Milkshake</dt>
                        <dd>Indulgent milkshake with cookie crumbles</dd>
                    </div>
                    <span>$100.00</span>
                </li>
                <li>
                    <div>
                        <dt>Salted Caramel Milkshake</dt>
                        <dd>Creamy caramel with a touch of saltiness</dd>
                    </div>
                    <span>$100.00</span>
                </li>
            </div>
        </div>
    </div>
    <a class="buy-btn" href="/order">
        <button>Buy Now</button>
    </a>
